<head>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/hmac-sha256.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/components/enc-base64-min.js"></script>
  <script src="getPowerballs.js"></script>
</head>

<body>
  <input type="button" value="Authorized" onClick="onPowerballsClick('auth')">
  <input type="button" value="Unauthorized" onClick="onPowerballsClick()">

  <h4>Powerballs</h4>
  <ul id="powerballs_list"></ul>
</body>